@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-row-minmax{
    grid-template-rows:max-content auto;
}

table {
    width: 100%;
    border: 1px solid #efefef;
    border-collapse: collapse;
}

tr{
    display: flex;
}

td,th{
    border: 1px solid #efefef;
    border-collapse: collapse;
    padding: 8px;
    flex: auto;
    width: 100px;
    text-align: center;
}

tr :is(td,th):first-child{
    width: 40px;
}

tr :is(td,th):nth-child(2){
    width: 130px;
    overflow-y: auto;
}

tr :is(td):nth-child(2){
    color: blue;
    text-decoration: underline;
}