@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #3b81f6;
}
.grid-row-minmax{
    grid-template-rows:max-content auto;
}

.glass {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.primary{
    background-color: var(--primary);
    color: #f5f5f5;
}

.border-primary{
    border-color: var(--primary);
}

.border-primary-hover:hover{
    background-color: var(--primary);
    color: white;
    transition: 0.25s ease;
}

.text-primary {
    color: var(--primary);
}

.grid3 {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}